# Node
node_modules/
.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
venv/
ENV/

# VSCode
.vscode/

# Build
build/
dist/

# Misc
*.log
*.sqlite3
uploads/

# Docker
*.pid

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Coverage
coverage/

# Jupyter
.ipynb_checkpoints/

# Others
*.swp
*.swo
*.bak
*.tmp
